.header{
    width: 100%;
    height: 70px;
    background-color: var(--header-color);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.header img{
    width: 330px;
    height: 46px;
    padding-top: 12px;
}